
.wishes{
    width: 100%;
    height: 100vh;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
    background-color: #07252d;
}
.wishes h2{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s infinite;

}
.wishes button{
    width: 15rem;
    height: 3rem;
    color: #d4f6ff;
    /* border: 3px solid red; */
    margin-top: 13rem;
    margin-left: 55rem;
    font-weight: 900;
    background-color: #07252d;
    position: relative;
    font-size: 2em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
   
    

    
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s infinite;
}
@keyframes animate{
 
    0%, 18% , 20% , 50.1% , 60% , 65.1% , 80% , 90.1% , 92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1% , 20.1% , 30% , 50% , 60.1% , 65% , 80.1% , 90% , 92.1% , 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 100px #03bcf4;

    }

}